.nauryz-header {
	background-image: url('./../img/flowers-heaeder.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-size: 800px 500px;

	padding: 50px 0px;

	max-width: 1200px;
	max-height: 1200px;
}


@media screen and (max-width: 1199px){
	.nauryz-header {
		background-size: 500px 300px;
	}
}

@media screen and (max-width: 1199px) {
	.nauryz-h1 {
		.eight-heading {
			font-size: 150px;
		}
		
		.nauryz-heading {
			font-size: 100px;
				bottom: 50px;
				right: 340px;
		}
	}
}

@media screen and (max-width: 1140px) {
	.nauryz-h1 {
		.eight-heading {
			font-size: 150px;
		}
		
		.nauryz-heading {
			font-size: 100px;
				bottom: 50px;
				right: 330px;
		}
	}
}


@media screen and (max-width: 1100px) {
	.nauryz-h1 {
		.eight-heading {
			font-size: 150px;
		}
		
		.nauryz-heading {
			font-size: 100px;
				bottom: 50px;
				right: 320px;
		}
	}
}
@media screen and (max-width: 1060px) {
	.nauryz-h1 {
		.eight-heading {
			font-size: 150px;
		}
		
		.nauryz-heading {
			font-size: 100px;
				bottom: 50px;
				right: 310px;
		}
	}
}
@media screen and (max-width: 1030px) {
	.nauryz-h1 {
		.eight-heading {
			font-size: 150px;
		}
		
		.nauryz-heading {
			font-size: 100px;
				bottom: 50px;
				right: 290px;
		}
	}
}
@media screen and (max-width: 900px) {
	.nauryz-h1 {
		.eight-heading {
			font-size: 150px;
		}
		
		.nauryz-heading {
			font-size: 100px;
				bottom: 50px;
				right: 220px;
		}
	}
}

@media screen and (max-width: 730px) {
	.nauryz-h1 {
		.eight-heading {
			font-size: 150px;
		}
		
		.nauryz-heading {
			font-size: 100px;
				bottom: 50px;
				right: 150px;
		}
	}
}

@media screen and (max-width: 690px) {
	.nauryz-h1 {
		.eight-heading {
			font-size: 150px;
		}
		
		.nauryz-heading {
			font-size: 100px;
				bottom: 50px;
				right: 120px;
		}
	}
}

@media screen and (max-width: 680px) {
	.nauryz-header {
		background-size: 300px 200px;
	}
	.nauryz-h1 {
		.eight-heading {
			font-size: 100px;
			bottom: 50px;
		}
		
		.nauryz-heading {
			font-size: 50px;
				bottom: 40px;
				right: 210px;
		}
	}
}

@media screen and (max-width: 600px) {
	.nauryz-header {
		background-size: 300px 200px;
	}
	.nauryz-h1 {
		.eight-heading {
			font-size: 100px;
			bottom: 50px;
		}
		
		.nauryz-heading {
			font-size: 50px;
				bottom: 40px;
				right: 170px;
		}
	}
}


@media screen and (max-width: 550px) {
	.nauryz-header {
		background-size: 300px 200px;
	}
	.nauryz-h1 {
		.eight-heading {
			font-size: 100px;
			bottom: 50px;
		}
		
		.nauryz-heading {
			font-size: 50px;
				bottom: 40px;
				right: 150px;
		}
	}
}

@media screen and (max-width: 510px) {
	.nauryz-header {
		background-size: 300px 200px;
	}
	.nauryz-h1 {
		.eight-heading {
			font-size: 100px;
			bottom: 50px;
		}
		
		.nauryz-heading {
			font-size: 50px;
				bottom: 40px;
				right: 130px;
		}
	}
}

@media screen and (max-width: 470px) {
	.nauryz-header {
		background-size: 300px 200px;
	}
	.nauryz-h1 {
		.eight-heading {
			font-size: 100px;
			bottom: 50px;
		}
		
		.nauryz-heading {
			font-size: 50px;
				bottom: 40px;
				right: 110px;
		}
	}
}

@media screen and (max-width: 430px) {
	.nauryz-header {
		background-size: 300px 200px;
	}
	.nauryz-h1 {
		.eight-heading {
			font-size: 100px;
			bottom: 50px;
		}
		
		.nauryz-heading {
			font-size: 50px;
				bottom: 40px;
				right: 95px;
		}
	}
}

@media screen and (max-width: 400px) {
	.nauryz-header {
		background-size: 300px 200px;
	}
	.nauryz-h1 {
		.eight-heading {
			font-size: 100px;
			bottom: 50px;
		}
		
		.nauryz-heading {
			font-size: 50px;
				bottom: 40px;
				right: 80px;
		}
	}
}

@media screen and (max-width: 383px) {
	.nauryz-header {
		background-size: 300px 200px;
	}
	.nauryz-h1 {
		.eight-heading {
			font-size: 100px;
			bottom: 50px;
		}
		
		.nauryz-heading {
			font-size: 50px;
				bottom: 40px;
				right: 70px;
		}
	}
}
.nauryz-h1 {
	max-width: 1120px;

	text-align: center;
	position: relative;
}

.eight-heading {
	position: relative;
	bottom: 80px;

	font-family: var(--font-family);
	font-weight: 800;
	font-size: 350px;
	letter-spacing: -50;
	color: #ff96ee;

	z-index: 1;
}

.nauryz-heading {
	font-family: var(--font-family);
	font-weight: 800;
	font-size: 150px;

	position: absolute;
	bottom: 70px;
	right: 250px;

	color: #fff;

	z-index: 0;
}